.image1 {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.jumbotron {
  text-align: center;
  font-family: fantasy;
}

.col-md-4 {
  text-align: center;
  font-family: monospace;
}

.highlight {
  color: red;
}

.col-md-4 h5 {
  font-weight: bolder;
  font-size: 25px;
  border: 2px solid blue;
  background-color: teal;
}
